<% provide(:title, 'About Us')%>
  <div class="center hero-unit">
		<h1>About S&J</h1>
		<h1>Risk Management</h1>
		<p>
		Welcome to S & J Risk Management. We have over 36 years of safety 
		and risk management experience with proven results. Whether your 
		needs require on-site safety expertise, training or a comprehensive 
		risk management program, we are here to serve you. Risk Management 
		is an essential part of your business. In order to successfully compete, 
		it is critical to plan and integrate loss prevention and control into 
		your work and field operations.
		</p>
  </div>
